@page "/login"

@inject IAuthenticationService AuthenticationService;
@inject ISnackbar Snackbar;
@inject NavigationManager NavigationManager;

<MudForm @ref="@_form" @onsubmit="@(() => LogIn())">
    <MudContainer Class="d-flex align-center justify-center mud-width-full" style="height:80vh;">
        <MudGrid>
            <MudItem xs="12" sm="12" lg="12">
                <MudCard>
                    <MudCardHeader>
                        <h2>Авторизация</h2>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudTextField Label="Почта" Class="mt-3" Variant="Variant.Outlined" Required="true"
                                      @bind-Value="_model.Email" InputType="InputType.Email" Immediate For="@(() => _model.Email)"/>

                        <MudTextField Label="Пароль" Class="mt-3" Required="true"
                                      @bind-Value="_model.Password" Immediate For="@(() => _model.Password)"
                                      InputType="_passwordInput"
                                      Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon"
                                      Variant="Variant.Outlined"
                                      OnAdornmentClick="ShowPasswordClick" AdornmentAriaLabel="Показать пароль"/>

                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Disabled="@(IsFromFilled)" ButtonType="ButtonType.Submit"
                                   Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Class="ma-2">
                            Войти
                        </MudButton>
                    </MudCardActions>
                </MudCard>
                <MudLink Href="/register" Underline="Underline.Always"
                         Style="text-align: center; display: block; margin: 0 auto;" Class="mt-3">
                    Нет аккаунта?
                </MudLink>
            </MudItem>
        </MudGrid>
    </MudContainer>
</MudForm>

@code {
    private readonly UserLogin _model = new();
    private bool IsFromFilled => string.IsNullOrWhiteSpace(_model.Email) || string.IsNullOrWhiteSpace(_model.Password);
    
    private bool _isShowPassword;
    private InputType _passwordInput = InputType.Password;
    private string _passwordInputIcon = Icons.Material.Filled.VisibilityOff;

    private MudForm _form = null!;
    
    private void ShowPasswordClick()
    {
        @if (_isShowPassword)
        {
            _isShowPassword = false;
            _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
            _passwordInput = InputType.Password;
        }
        else
        {
            _isShowPassword = true;
            _passwordInputIcon = Icons.Material.Filled.Visibility;
            _passwordInput = InputType.Text;
        }
    }

    private async Task LogIn()
    {
        var res = await AuthenticationService.Login(_model);

        if (!res.IsSuccess)
        {
            Snackbar.Add(res.Message, Severity.Error);
            return;
        }

        NavigationManager.NavigateTo("/");
    }
}